CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

**/slprj*
*.asv
*.png
/build*/
/debug*/
.idea
*.pyc
*.DS_Store
*.swp
/examples/Data/dubrovnik-3-7-pre-rewritten.txt
/examples/Data/pose2example-rewritten.txt
/examples/Data/pose3example-rewritten.txt
*.txt.user
*.txt.user.6d59f0c
*.pydevproject
#.vscode
.env
/.vs/
/CMakeSettings.json
# for QtCreator:
CMakeLists.txt.user*
xcode/
/Dockerfile
/python/gtsam/notebooks/.ipynb_checkpoints/ellipses-checkpoint.ipynb
.model_checkpoints/thoughtful-shark-599_epoch_4956_cpu.pt
.model_checkpoints/matlab_models/ambitious_asp_27_epoch_4830.mat
.model_checkpoints/matlab_models/thoughtful_shark_599_epoch_4956_cpu.mat
.model_checkpoints/matlab_models/+ambitious_asp_27_epoch_4830/Shape_To_AddLayer1079.m
.model_checkpoints/matlab_models/+thoughtful_shark_599_epoch_4956_cpu/Gather_To_AddLayer1076.m
.model_checkpoints/onnx_exported_models/ambitious-asp-27_epoch_4830.onnx
.model_checkpoints/onnx_exported_models/thoughtful-shark-599_epoch_4956_cpu.onnx
